.sookim_logo{
    font-family: 'Playfair Display', serif;
}

.sookim_footer_button{
    font-size: .9rem;
}

.sookim_footer{
    text-align:center;
    margin-top:2rem;
}

.sookim_header{
    text-align:center;
    margin: 2rem 0;
}

@media screen and (max-width:500px) {
    html {
        font-size: 13px;
    }
}
